body {
  background-color: #EDEDED;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  cursor: default;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 8pt;
  font-weight: 400;
  cursor: default;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  font-weight: 300;
  color: white;
  cursor: default;
}

.player {
  height: 190px;
  width: 430px;
  background-color: #1E2125;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.player ul {
  list-style: none;
}
.player ul li {
  display: inline-block;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
}
.cover img {
  height: 190px;
  width: 190px;
}

.info h1 {
  margin-top: 15px;
  margin-left: 180px;
  line-height: 0;
}
.info h4 {
  margin-left: 180px;
  line-height: 20px;
  color: #636367;
}
.info h2 {
  margin-left: 180px;
}

.button-items {
  margin-left: 180px;
}

#slider {
  width: 182px;
  height: 4px;
  background: #151518;
  border-radius: 2px;
}
#slider div {
  width: 4px;
  height: 4px;
  margin-top: 1px;
  background: #EF6DBC;
  border-radius: 2px;
}

#timer {
  color: #494B4E;
  line-height: 0;
  font-size: 9pt;
  float: right;
  font-family: Arial, Sans-Serif;
}

.controls {
  margin-top: 20px;
}
.controls svg:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

#play {
  padding: 0 3px;
  width: 30px;
  height: 30px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
}
#play g {
  stroke: #FEFEFE;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
#play g path {
  fill: #FEFEFE;
}

#play:hover {
  cursor: pointer;
}
#play:hover g {
  stroke: #8F4DA9;
  cursor: pointer;
}
#play:hover g path {
  fill: #9b59b6;
  cursor: pointer;
}

.step-backward {
  width: 18px;
  height: 18px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  margin-bottom: 5px;
}
.step-backward g polygon {
  fill: #FEFEFE;
}

.step-forward {
  width: 18px;
  height: 18px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  margin-bottom: 5px;
}
.step-forward g polygon {
  fill: #FEFEFE;
}

#pause {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: -38px;
  cursor: pointer;
}
#pause rect {
  fill: white;
}

#pause:hover rect {
  fill: #8F4DA9;
}

.step-backward g polygon:hover, .step-forward g polygon:hover {
  fill: #EF6DBC;
  cursor: pointer;
}

.social {
  text-align: center;
}

.twitter {
  color: #BDBDBD;
  font-family: sans-serif;
  text-decoration: none;
}
.twitter:hover {
  color: #ecf0f1;
}

p {
  color: #BDBDBD;
}

#skip {
  float: right;
  margin-top: 10px;
}
#skip p {
  color: #2980b9;
}
#skip p:hover {
  color: #e74c3c;
  cursor: pointer;
}

.expend {
  padding: 0.5px;
  cursor: pointer;
}
.expend svg:hover g polygon {
  fill: #EF6DBC;
}