::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #3e3e3e;
    border-radius: 10px;
}

.aboutLanguage {
    float: right;
    font-size: .8em;
    margin-top: -7px;
    padding: 0px 21px;
    z-index: 200;
}

.altColor {
    background-color: #1e1e1f;
}

.bar {
    background-color: #1e1e1e;
    background-repeat: repeat-x;
    color: #FFFFFF;
    /*height:1.8em;*/
    font-size: 1em;
    height: auto;
    margin: 0;
    padding: .8em .5em .4em .8em;
}

.bar a, .bar a:link, .bar a:visited, .bar a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.bar a:hover, .bar a:focus {
    color: #bb7a2a;
}

.block {
    display: block;
    margin: 3px 0 0 0;
}

.bottomNav {
    background-color: #1e1e1e;
    background-repeat: repeat-x;
    clear: right;
    color: #FFFFFF;
    float: left;
    height: 2.8em;
    margin-top: 10px;
    overflow: hidden;
    padding: 0;
    padding-top: 10px;
    width: 100%;
}

.clear {
    clear: both;
    height: 0px;
    overflow: hidden;
}

.leftContainer .leftTop, .leftContainer .leftBottom {
    border-style: none;
}

.rightContainer {
    border-style: none;
}

.contentContainer .description dl dd, .contentContainer .details dl dd, .serializedFormContainer dl dd {
    margin: 10px 0 10px 20px;
}

.contentContainer .description dl dt, .contentContainer .details dl dt, .serializedFormContainer dl dt {
    color: #4E4E4E;
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.contentContainer .description table, .contentContainer .details table {
    border-bottom: none;
}

.contentContainer table, .classUseContainer table, .constantValuesContainer table {
    border-bottom: 1px solid #9eadc0;
    width: 100%;
}

.contentContainer ul li table th.colLast, .classUseContainer ul li table th.colLast,.constantValuesContainer ul li table th.colLast, .contentContainer ul li table td.colLast, .classUseContainer ul li table td.colLast,.constantValuesContainer ul li table td.colLast, .contentContainer ul li table th.colOne, .classUseContainer ul li table th.colOne, .contentContainer ul li table td.colOne, .classUseContainer ul li table td.colOne {
    padding-right: 3px;
}

.contentContainer ul li table th.colOne, .contentContainer ul li table th.colFirst, .contentContainer ul li table th.colLast, .classUseContainer ul li table th, .constantValuesContainer ul li table th, .contentContainer ul li table td.colOne, .contentContainer ul li table td.colFirst, .contentContainer ul li table td.colLast, .classUseContainer ul li table td, .constantValuesContainer ul li table td {
    padding-right: 20px;
    vertical-align: top;
}

.contentContainer ul li table, .classUseContainer ul li table, .constantValuesContainer ul li table {
    width: 100%;
}

.contentContainer, .sourceContainer, .classUseContainer, .serializedFormContainer, .constantValuesContainer {
    clear: both;
    padding: 10px 20px;
    position: relative;
}

.deprecatedContent {
    margin: 0;
    padding: 10px 0;
}

.description pre {
    margin-top: 0;
}

.docSummary {
    padding: 0;
}

.footer ul {
    margin: 20px 0 5px 0;
}

.header ul {
    margin: 0 0 25px 0;
    padding: 0;
}

.header ul li, .footer ul li {
    font-size: 1.2em;
    list-style: none;
}

.header, .footer {
    clear: both;
    margin: 0 20px;
    padding: 5px 0 0 0;
}

.indexContainer {
    font-size: 1.0em;
    margin: 10px;
    position: relative;
}

.indexContainer h2 {
    font-size: 1.1em;
    padding: 0 0 3px 0;
}

.indexContainer ul {
    margin: 0;
    padding: 0;
}

.indexContainer ul li {
    list-style: none;
}

.indexHeader {
    margin: 10px;
    position: relative;
}

.indexHeader h1 {
    font-size: 1.3em;
}

.indexNav {
    background-color: #1E1E1E;
}

.legalCopy {
    margin-left: .5em;
}

.navBarCell1Rev {
    background-color: #f8981d;
    background-image: url(resources/tab.gif);
    border: 1px solid #c0ffee;
    color: #03000F;
    margin: auto 5px;
}

.overviewSummary .tabEnd, .packageSummary .tabEnd, .contentContainer ul.blockList li.blockList .tabEnd, .summary .tabEnd, .classUseContainer .tabEnd, .constantValuesContainer .tabEnd {
    background-position: top right;
    background-repeat: no-repeat;
    float: left;
    position: relative;
    width: 10px;
}

.overviewSummary caption span, .packageSummary caption span, .contentContainer ul.blockList li.blockList caption span, .summary caption span, .classUseContainer caption span, .constantValuesContainer caption span {
    /* background-image: url(resources/titlebar.gif); */
    display: block;
    float: left;
    height: 18px;
    padding-left: 8px;
    padding-top: 8px;
    white-space: nowrap;
}

.overviewSummary caption, .packageSummary caption, .contentContainer ul.blockList li.blockList caption, .summary caption, .classUseContainer caption, .constantValuesContainer caption {
    background-repeat: no-repeat;
    clear: none;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    text-align: left;
}

.overviewSummary td, .packageSummary td, .contentContainer ul.blockList li.blockList td, .summary td, .classUseContainer td, .constantValuesContainer td {
    padding: 3px 3px 3px 7px;
    text-align: left;
}

.rowColor {
    background-color: #0f0f0f;
}

.serializedFormContainer dl.nameValue dd {
    display: inline;
    font-size: 1.1em;
    margin: 0 0 0 1px;
}

.serializedFormContainer dl.nameValue dt {
    display: inline;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 1px;
}

.sourceLineNo {
    color: green;
    padding: 0 30px 0 0;
}

.strong {
    font-weight: bold;
}

.subNav {
    background-color: #252526;
    border-bottom: 1px solid #9eadc0;
    float: left;
    overflow: hidden;
    width: 100%;
}

.subNav div {
    clear: left;
    float: left;
    padding: 0 0 5px 6px;
}

.subTitle {
    margin: 5px 0 0 0;
}

.tab {
    background-color: #f0860F;
    background-image: url(resources/titlebar.gif);
    background-position: left top;
    background-repeat: no-repeat;
    color: #000000;
    font-weight: bold;
    padding: 8px;
    width: 5em;
}

.tableSubHeadingColor {
    background-color: #1E1E0F;
}

.title {
    color: #376e82;
    margin: 10px 0;
}

.topNav {
    background-color: #1e1e1e;
    background-repeat: repeat-x;
    clear: right;
    color: #FFFFFF;
    float: left;
    height: 2.8em;
    overflow: hidden;
    padding: 0;
    padding-top: 10px;
    width: 100%;
}

.topNav a:hover, .bottomNav a:hover {
    color: #bb7a2a;
    text-decoration: none;
}

.topNav a:link, .topNav a:active, .topNav a:visited, .bottomNav a:link, .bottomNav a:active, .bottomNav a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a:active {
    color: #3e86a0;
    text-decoration: none;
}

a:hover, a:focus {
    color: #bb7a2a;
    text-decoration: none;
}

a:link, a:visited {
    color: #3e86a0;
    text-decoration: none;
}

a[name] {
    color: #353833;
}

a[name]:hover {
    color: #353833;
    text-decoration: none;
}

body {
    background-color: #2b2b2b;
    color: #87939a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 76%;
    margin: 0;
}

caption a:link, caption a:hover, caption a:active, caption a:visited {
    color: #FFFFFF;
}

code, tt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
}

div.block {
    color: #87939a;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

div.details ul.blockList ul.blockList ul.blockList li.blockList h4, div.details ul.blockList ul.blockList ul.blockListLast li.blockList h4 {
    background-color: #0d293e;
    border-bottom: 1px solid #9eadc0;
    border-top: 1px solid #9eadc0;
    margin: 0 0 6px -8px;
    padding: 2px 5px;
}

dt code {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
}

h1 {
    font-size: 1.8em;
}

h1.bar {
    color: #376e82;
}

h1.hidden {
    font-size: .9em;
    overflow: hidden;
    visibility: hidden;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

pre {
    font-size: 1.3em;
}

span.activeTableTab span {
    background-color: #52cfc5;
}

span.activeTableTab span.tabEnd, span.tabEnd {
    background-color: #F8981D;
}

sup {
    font-size: .6em;
}

table tr td dl, table tr td dl dt, table tr td dl dd {
    margin-bottom: 1px;
    margin-top: 0;
}

table tr td dt code {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
}

table.overviewSummary {
    margin-left: 0px;
    padding: 0px;
}

table.overviewSummary td.colFirst, table.overviewSummary th.colFirst, table.overviewSummary td.colOne, table.overviewSummary th.colOne {
    vertical-align: middle;
    width: 25%;
}

table.packageSummary td.colFirst, table.overviewSummary th.colFirst {
    vertical-align: middle;
    width: 25%;
}

td.colFirst, th.colFirst {
    border-left: 1px solid #9eadc0;
    white-space: nowrap;
}

td.colLast, th.colLast {
    border-right: 1px solid #9eadc0;
}

td.colOne a:link, td.colOne a:active, td.colOne a:visited, td.colOne a:hover, td.colFirst a:link, td.colFirst a:active, td.colFirst a:visited, td.colFirst a:hover, td.colLast a:link, td.colLast a:active, td.colLast a:visited, td.colLast a:hover, .constantValuesContainer td a:link, .constantValuesContainer td a:active, .constantValuesContainer td a:visited, .constantValuesContainer td a:hover {
    font-weight: bold;
}

td.colOne, th.colOne {
    border-left: 1px solid #9eadc0;
    border-right: 1px solid #9eadc0;
}

th.colFirst, th.colSecond, th.colLast, th.colOne, .constantValuesContainer th {
    background: #0d293e;
    border-top: 1px solid #9eadc0;
    border-bottom: 1px solid #9eadc0;
    color: #FFFFFF;
    padding: 3px 3px 3px 7px;
    text-align: left;
}
th.colConstructorName {
    background-color: #202225;
}

tr.rowColor th.colSecond[scope=row] {
    background-color: #0f0f0f;
    border-right: 1px solid #9eadc0;
    border-left: 1px solid #9eadc0;
    border-top: 0px;
    border-bottom: 0px;
}

tr.altColor th.colSecond[scope=row] {
    background-color: #1e1e1f;
    border-right: 1px solid #9eadc0;
    border-left: 1px solid #9eadc0;
    border-top: 0px;
    border-bottom: 0px;
}

tr {
    background-color: #202225;
}

ul {
    list-style-type: disc;
}

ul.blockList li.blockList h2 {
    padding: 0px 0 20px 0;
}

ul.blockList li.blockList, ul.blockListLast li.blockList {
    list-style: none;
    margin-bottom: 25px;
}

ul.blockList ul.blockList li.blockList h3 {
    margin: 15px 0;
    padding: 0;
}

ul.blockList ul.blockList li.blockList table {
    margin: 0 0 12px 0px;
    width: 100%;
}

ul.blockList ul.blockList li.blockList, ul.blockList ul.blockListLast li.blockList {
    background-color: #202225;
    border: 1px solid #9eadc0;
    padding: 0px 20px 5px 10px;
}

ul.blockList ul.blockList ul.blockList li.blockList h3 {
    background-color: #0d293e;
    border-bottom: 1px solid #9eadc0;
    border-top: 1px solid #9eadc0;
    margin: 0 0 6px -8px;
    padding: 2px 5px;
}

ul.blockList ul.blockList ul.blockList li.blockList, ul.blockList ul.blockList ul.blockListLast li.blockList {
    background-color: #292b2f;
    border: 1px solid #9eadc0;
    border-top: none;
    padding: 0 0 5px 8px;
}

ul.blockList ul.blockList ul.blockList ul.blockList li.blockList {
    border: none;
    border-bottom: 1px solid #9eadc0;
    margin-left: 0;
    padding-bottom: 15px;
    padding-left: 0;
}

ul.blockList ul.blockList ul.blockList ul.blockList li.blockListLast {
    border-bottom: none;
    list-style: none;
    padding-bottom: 0;
}

ul.blockList, ul.blockListLast {
    margin: 10px 0 10px 0;
    padding: 0;
}

ul.horizontal li {
    display: inline;
    font-size: 0.9em;
}

ul.inheritance {
    margin: 0;
    padding: 0;
}

ul.inheritance li {
    display: inline;
    list-style: none;
}

ul.inheritance li ul.inheritance {
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 1px;
}

ul.navList li {
    float: left;
    list-style: none;
    padding: 3px 6px;
}

ul.navList, ul.subNavList {
    float: left;
    margin: 0 25px 0 0;
    padding: 0;
}

ul.subNavList li {
    float: left;
    font-size: 90%;
    list-style: none;
}
